{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Our Menu</h1>
{% comment %} <div class="column">
    {% for item in menu %}
    <p>
        {{ item.name }}
        <span class="menu-price">{{ item.price }}.00 TZS</span>
    </p>
    <p>{{ item.description }}</p>
    {% endfor %}
</div>     {% endcomment %}
<section>
    {% for item in menu %}
    <article>
      <h2>{{ item.name }}</h2>
      <img src="{% static 'img/salad.jpg' %}">
      <p>
        {{ item.price }}.00 TZS
      </p>
      <p>
        <a href="{% url 'book' %}">Book your table now</a>
      </p>
    </article>
    {% endfor %}
  </section> 
{% endblock %}